$nav-title-color: #A0A3BD;
$notifications-bg: #ED6A61;
$white: #fff;
$nav-item-bg: rgba(255, 255, 255, 0.12);
$page-bg: #F7F7FC;
$page-path-back: #EBEEF5;
$page-path-text: #6E7191;
$contact-text: #4E4B66;
$note-border: #F4E8BE;
$note-bg: #FFF7DB;
$contact-card-line: #E6E9F1;
