@mixin stats ($color) {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: $color;
  border-radius: 50%;
  margin-right: 10px;
}

.header {
  left: 200px;
  transition: all .5s;

  .q-focus-helper {
    background: transparent;

    &::before,
    &::after {
      display: none;
      background: transparent;
    }
  }

  &__toolbar {
    box-shadow: inset 0px -1px 0px #E6E9F1;
    padding: 8px 32px;
    height: 55px;
  }
}

//quasar
.q-btn .q-focus-helper {
  display: none;
}
.q-menu {
  max-height: 45rem !important;
  box-shadow: 0 6.25px 16px rgba(0, 0, 0, 0.085) !important;
  border-radius: 4px;
}
.q-focus-helper:after, .q-focus-helper:before {
  transition: background-color .1s cubic-bezier(.25,.8,.5,1),opacity .2s cubic-bezier(.25,.8,.5,1) !important;
}
