@font-face {
   font-family: 'Segoe UI';
   font-style: normal;
   font-weight: 400;
   src: local('Segoe UI Regular'), url('@/assets/fonts/Segoe UI.woff') format('woff');
}

@font-face {
   font-family: 'Segoe UI';
   font-style: italic;
   font-weight: 400;
   src: local('Segoe UI Italic'), url('@/assets/fonts/Segoe UI Italic.woff') format('woff');
}

@font-face {
   font-family: 'Segoe UI';
   font-style: normal;
   font-weight: 600;
   src: local('Segoe UI Bold'), url('@/assets/fonts/Segoe UI Bold.woff') format('woff');
}

@font-face {
   font-family: 'Segoe UI Bold Italic';
   font-style: italic;
   font-weight: 600;
   src: local('Segoe UI Bold Italic'), url('@/assets/fonts/Segoe UI Bold Italic.woff') format('woff');
}

body {
   font-family: "SegoeUI", serif;
}
