.status-tag {
  border-radius: 1.25rem;
  border-width: 1px;
  border-style: solid;
  padding: 3px 8px;
  font-weight: 700;
  font-size: .625rem;
  line-height: .875rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  width: fit-content;
}
