.profile-setting {
  &-account {
    width: 300px;
    height: 170px;
    background-image: url("@/assets/img/components/header/profile-account.svg");

    .setting-account {
      &-status {
        position: absolute;
        display: inline-block;
        background: #69BC35;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid #F2E5F5;
        top: 2rem;
        right: 0;
      }

      &-name {
        font-weight: 600;
        color: #4E4B66;
      }

      &-email {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #4E4B66;
      }

      &-manage {
        color: #008CFF;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
      }
    }
  }

  &-link {
    border-bottom: 1px solid #E6E9F1;

    .setting-link {
      &-name {
        color: #4E4B66;
        font-weight: 600;
      }

      &-email {
        color: #6E7191;
        font-weight: 600;
        font-size: 14px;
      }

      &-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &-actions {
    min-height: auto !important;
    padding: 14px 22px;

    button {
      color: #4E4B66;
      font-size: 14px;
      font-weight: 600;
    }

    .icon:before {
      color: #6E7191 !important;
    }

    &:last-of-type {
      border-bottom: 1px solid #E6E9F1;
    }
  }
}

.setting-actions-log-out {
  color: #4E4B66;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 22px;
}

.header {
  .profile-setting {
    padding: 0 8px;

    .q-icon {
      display: none;
    }

    .avatar {
      width: 25px !important;
      height: 25px !important;
    }

    &:before {
      box-shadow: none;
      border: 1px solid #E6E9F1;
    }
  }
}
